:root {
  --bg: #f0f0f9;
  --primary: #6A7FDB;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg);
  color: var(--black);
}

#root {
  height: 100%;
}

body,
input,
button {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}