form {
  margin: 100px 25% 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 6.81rem;
  font-size: 19px;
  font-weight: 400;
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.election-date-begin,
.election-date-end {
  width: 50%;
}

.election-date-end {
  margin-left: 50px;
}

form label {
  margin-right: 30px;
}

form input {
  background-color: rgba(0, 0, 0, 0.09);
  border: 1px solid #9C9AB6;
  border-radius: 5px;
  flex: 1;
  height: 46px;
  margin-top: 5px;

  font-size: 19px;
  padding: 20px;
}

button {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
}